body{
margin:0;
font-family:Arial;
background:#0b1c34;
color:white;
text-align:center;
}

.title{
margin-top:30px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:#12284b;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.4);
}

.value{
font-size:40px;
color:#2ecc71;
}

.motor{
font-size:35px;
color:orange;
}

.valve{
font-size:35px;
color:red;
}

.small{
font-size:14px;
opacity:0.8;
}

.controls{
margin-top:20px;
}

.buttons{
margin-top:20px;
}

button{
padding:12px 20px;
margin:10px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

.green{
background:#2ecc71;
color:white;
}

.red{
background:#e74c3c;
color:white;
}